<h1>Portfolio items</h1>
<a href="portfolios/new" title="">Create new item</a>
<%= link_to "Create new item", new_portfolio_path, subdomain: "my_subdomain" %>
<p>
  <%= new_portfolio_path %>
</p>
<p>
  <%= new_portfolio_url %>
</p>
<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title %></p>
  <p><%= portfolio_item.body %></p>
  <%=image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>
<% end %>